@import 'vars';
@import 'product';
@import 'catalog';
@import 'cart';


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

.header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  gap: 41px;
}

.header_logo {
  width: 44px;
  height: 38px;
  margin-top: 18px;
  margin-bottom: 19px;
}

.header_search {
  margin-top: 28px;
  margin-bottom: 20px;
}

.header_right {
  margin-top: 26px;
  margin-bottom: 20px;
}

.header_right_mobile {
  display: none;
}

.cover_page {
  background-color: #F1E4E6;
  display: flex;
  gap: 63px;
  margin-bottom: 65px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  max-height: 764px;
}

.cover_heading {
  gap: 16px;
  display: flex;
  align-items: center;
  margin-top: 290px;
  margin-bottom: 381px;
}

.cover_text_first {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #222;
}

.cover_text_two {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cover_text_three {
  color: $colorSelectSite;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content_promo {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 96px;
}

.promo_item {
  position: relative;
  max-height: 260px;
}

.promo_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 105px;
}

.promo_text:hover {
  background: rgba(33, 22, 22, 0.70);
}

.promo_text_pink {
  color: $colorSelectSite;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.long_promo_item {
  grid-column: span 3;
  max-height: 180px;
}

.long_promo_text {
  padding-top: 65px;
}

.main_content_title {
  text-align: center;
}

.main_content_heading {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.main_content_text {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}

.main_content_product {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 48px;
}

.content_product {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product_photo {
  position: relative;
}

.add_cart {
  display: none;
}

.text_cart {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.product_photo:hover .product_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product_photo:hover .add_cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: #FFFFFF 1px solid;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 13px;
  position: absolute;
  top: 188px;
  left: 110px;
}

.product_info {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 29px;
  padding-left: 16px;
}

.product_name {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_desc {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.product_price {
  color: $colorSelectSite;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.button_main_content {
  margin-bottom: 95px;
  text-align: center;
}

.button_continue {
  color: $colorSelectSite;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border-color: $colorSelectSite;
  padding: 15px 39px 14px 39px;
  border-style: solid;
  border-width: 1px;
}

.button_continue:hover {
  color: #FFF;
  background-color: $colorSelectSite;
}

.dark_desc {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dark_item {
  width: 32%;
}

.dark_icon_delivery {
  margin-bottom: 28px;
}

.dark_icon_sales {
  margin-bottom: 19px;
}

.dark_icon_quality {
  margin-bottom: 25px;
}

.dark_header {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.dark_text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.prefooter {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
  background-image: url(../img/prefooter_backg.svg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.prefooter_desc {
  margin-top: 97px;
  width: 31%;
  text-align: center;
}

.prefooter_img {
  margin-bottom: 30px;
}

.prefooter_desc_text {
  margin-bottom: 126px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.prefooter_desc_text_it {
  color: #222224;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.prefooter_subs {
  margin-top: 150px;
  width: 48%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.prefooter_header {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.prefooter_subs_text {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}

.prefooter_form {
  margin-bottom: 156px;
  display: flex;
  flex-direction: row;
}

.prefooter_input {
  width: 250px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
  padding-right: 22px;
}

.prefooter_button {
  width: 100px;
  height: 49px;
  background-color: $colorSelectSite;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_footer {
  min-width: 332px;
}

.left_footer_text {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right_footer {
  display: flex;
  gap: 7px;
}

.footer_icon {
  background-color: #FFF;
  width: 31px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icon:hover {
  background-color: #F16D7F;
}

.footer_icon:hover path {
  fill: #FFF;
}


@import 'tabletVersion';
@import 'mobileVersion';